{% extends "homeDoctor.html" %}
{% block title %}Doctor Courses{% endblock %}
{% block content %}
    <link rel="stylesheet" href="/static/styles8.css">
  <div class="background-container">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#000745" fill-opacity="0.8" d="M0,96L24,106.7C48,117,96,139,144,138.7C192,139,240,117,288,133.3C336,149,384,203,432,240C480,277,528,299,576,272C624,245,672,171,720,154.7C768,139,816,181,864,208C912,235,960,245,1008,261.3C1056,277,1104,299,1152,293.3C1200,288,1248,256,1296,256C1344,256,1392,288,1416,304L1440,320L1440,0L1416,0C1392,0,1344,0,1296,0C1248,0,1200,0,1152,0C1104,0,1056,0,1008,0C960,0,912,0,864,0C816,0,768,0,720,0C672,0,624,0,576,0C528,0,480,0,432,0C384,0,336,0,288,0C240,0,192,0,144,0C96,0,48,0,24,0L0,0Z"></path></svg>
  </div>
    <div class="container">
        <main class="main-content">
            <div class="head">
                <div class="user-info">
                    <h1>Hi, Name 👋</h1>
                </div>
            </div>
            <div class="head">
                <div class="courses-1">
                    <h2>My Courses</h2>
                </div>
            </div>
            <section class="courses">
                <section class="cards">
                    <div class="card">
                        <div class="card-header">
                            <img src="/static/image/course2.png" alt="Course Image" class="course-image">
                            <h4 class="course-title">NLP - 2024</h4>
                            <p class="course-subtitle">FCAICU spring 2024</p>
                            <p class="course-instructor">Hanaa Mobarez</p>
                        </div>
                        <div class="card-body">
                            <!-- Additional content here -->
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <img src="/static/image/course2.png" alt="Course Image" class="course-image">
                            <h4 class="course-title">Selected topics 2</h4>
                            <p class="course-subtitle">FCAICU spring 2024</p>
                            <p class="course-instructor">Mohamed Abdelwahab</p>
                        </div>
                        <div class="card-body">
                            <!-- Additional content here -->
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <img src="/static/image/course2.png" alt="Course Image" class="course-image">
                            <h4 class="course-title">CS361 - AI </h4>
                            <p class="course-subtitle">FCAICU spring 2024</p>
                            <p class="course-instructor">ka</p>
                        </div>
                        <div class="card-body">
                            <!-- Additional content here -->
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <img src="/static/image/course2.png" alt="Course Image" class="course-image">
                            <h4 class="course-title">CS361 - AI </h4>
                            <p class="course-subtitle">FCAICU spring 2024</p>
                            <p class="course-instructor">ka</p>
                        </div>
                        <div class="card-body">
                            <!-- Additional content here -->
                        </div>
                    </div>
                </section>
            </section>
            <div class="head">
                <div class="courses-1">
                    <h2>All Courses</h2>
                </div>
            </div>
            <section class="courses">
              <section class="cards">
                  <div class="card">
                      <div class="card-header">
                          <img src="/static/image/course2.png" alt="Course Image" class="course-image">
                          <h4 class="course-title">NLP - 2024</h4>
                          <p class="course-subtitle">FCAICU spring 2024</p>
                          <p class="course-instructor">Hanaa Mobarez</p>
                          <button class="details-button">Rejest</button>
                      </div>
                      <div class="card-body">
                          <!-- Additional content here -->
                      </div>
                  </div>
                  <div class="card">
                      <div class="card-header">
                          <img src="/static/image/course2.png" alt="Course Image" class="course-image">
                          <h4 class="course-title">Selected topics 2</h4>
                          <p class="course-subtitle">FCAICU spring 2024</p>
                          <p class="course-instructor">Mohamed Abdelwahab</p>
                          <button class="details-button">Rejest</button>
                      </div>
                      <div class="card-body">
                          <!-- Additional content here -->
                      </div>
                  </div>
                  <div class="card">
                      <div class="card-header">
                          <img src="/static/image/course2.png" alt="Course Image" class="course-image">
                          <h4 class="course-title">CS361 - AI </h4>
                          <p class="course-subtitle">FCAICU spring 2024</p>
                          <p class="course-instructor">ka</p>
                          <button class="details-button">Rejest</button>
                      </div>
                      <div class="card-body">
                          <!-- Additional content here -->
                      </div>
                  </div>
                  <div class="card">
                      <div class="card-header">
                          <img src="/static/image/course2.png" alt="Course Image" class="course-image">
                          <h4 class="course-title">CS361 - AI </h4>
                          <p class="course-subtitle">FCAICU spring 2024</p>
                          <p class="course-instructor">ka</p>
                            <button class="details-button">Rejest</button>
                      </div>
                      <div class="card-body">
                          <!-- Additional content here -->
                      </div>
                  </div>
              </section>
            </section>
        </main>
        <footer id="footer"class="footer">
           <div class="footer-content">
               <div class="footer-logo">
                   <img src="/static/image/SAFE.png" alt="Logo">
                   <span>SAFE</span>
               </div>
               <div class="footer-links">
                   <a href="#">Contact Us</a>
                   <a href="#">Terms of Service</a>
               </div>
               <div class="footer-social">
                   <a href="#"><img src="/static/image/instagram.png" alt="Instagram"></a>
                   <a href="#"><img src="/static/image/facebook.png" alt="Facebook"></a>
                   <a href="#"><img src="/static/image/github.png" alt="Github"></a>
               </div>
           </div>
       </footer>
    </div>
    {%endblock%}

